header{
    background-color: gold;
    padding: 20px 0;
}

header a{
    color: #fff;
}

.logo a{
    font-weight: bold;
    font-size: 22px;
}

nav {
    text-align: right;
}

nav a{
    font-size: 18px;
    margin-left: 20px;
}

.active{
    border-bottom: 1px solid #fff;
    font-weight: normal;
}